{% extends "base2.html" %}
{% block title %}Home{% endblock %}

{% block content %}
  
<div class="content">
  <h1 align="center">WELCOME TO MEALIX</h1>
  <h3 align="center">The first step to the rest of your life</h3>
  <h5 align="center">Let's take a journey of imagination for a bit...</h5>
  <p>Imagine a world where making one change in your habits could double your health progress.</p>
  <p>A habit that takes less than 10 minutes out of your daily 1440 minutes.</p>
  <p>It may sound too good to be true but...(here is where it gets juicy)</p>
  <p>Several studies have shown that people who keep food journals are more likely to be successful in achieving weight goals and maintaining in the long run.</p>
  <p>In fact, people keeping a food journal 6 days a week lost about twice as much weight as those who kept food records one day a week or less.</p>
  <p>And we are here to give that gift to you. So how about we get started already...</p>
</div>

{% endblock %}
