{% extends "base2.html" %}
{% block title %}How it works{% endblock %}

{% block content %}

<div class="content">
<h1 align="center">How To Journal With Us</h1>

<div>
    <div>
        <p align="center">Step 1: Sign Up</p><br>
    </div>
    <div>
        <p align="center">Step 2: Calculate your BMI</p><br>
    </div>
    <div>
        <p align="center">Step 3: Note down your daily food intake</p><br>
    </div>
</div>

<p align="center"><b>It is just that easy. Sign Up or Login if you have an account.</b></p>
</div>
<p align="center"><b>It is just that easy. Sign Up or Login if you have an account.</b></p>
</div>

{% endblock %}
